@using Theater_ticket_booking.TagHelpers

<div class="row row-cols-1 row-cols-md-4" id="Events"></div>

<script>
    $(document).ready(function () {
        flatpickr('.calendars', {
            enableTime: true,
            dateFormat: "d.m.Y",
            "locale": "ru"
        });

        GetEvents();
    });

    // Обновление страницы
    var refreshRoute = {
        LoadAction: LoadList,
        data: undefined
    }

    // Получение информации о выбранном мероприятии
    function GetEvent(obj) {
        $.ajax({
            url: '@Url.Action("GetEvent", "Event")',
            type: "GET",
            data: { eventId: obj.id },
            success: function (result) {
                ModalBody(result, refreshRoute);
            },
            error: function (error) {
                console.log("ajax Create error", error);
            },
            complete: function () {
            }
        });
    };

    // Получение информации о мероприятих
    function GetEvents() {
        var date = document.getElementById("date").value;

        $.ajax({
            url: '@Url.Action("GetEvents", "Event")',
            type: 'GET',
            async: false,
            data: { date: date},
            success: function (result) {
                FillEvent(result);
            },
            complete: function () {
            }
        });
    }

    // Загрузка и отображение мероприятий
    function FillEvent(events) {
        $("#Events").empty();

        events.forEach(function (item, i, arr)
        {
            var button = "";
            item.event.forEach(function (item, i, arr) {
                button += '<div class="btn-group mr-2" role="group" aria-label="First group" style="margin:2px">' +
                    '<button type="submit" onClick = "GetEvent(this)" id="' + item.id +'" style="background: #1a1b28; color: white;" class="btn btn-light btn-success br20px p4px10px" href="#" data-toggle="modal" data-target="#ModalPartial"">' + item.time + '</button>' +
                    '</div>';
            });

            $('#Events').append('<div class="col mb-4">' +
                '<div class="card shadow" >' +
                '<img src="' + item.photo + '"' +
                'class="card-img-top" >' +
                '<div class="card-body" style="text-align:center">' +
                '<h3 class="card-title" >' + item.name + '</h3>' +
                '<p class="card-text">' +
                item.miniDescription +
                '</p>' +
                '<div class="card-body">' +
                button +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>');
        });
    }

</script>