<div class="row row-cols-1 row-cols-md-3">

    <div class="col mb-4">
        <div class="card shadow" style="border-radius: 30px;">
            <img src="https://sun9-57.userapi.com/impg/2MRazDiSXp6gGtRJ25hlnpVM_dNJe9bdQ1LJcQ/HsTvx61n3CA.jpg?size=1260x500&quality=96&proxy=1&sign=41a84560b6a17693cd52cafbcde2e117&type=album"
                 class="card-img-top" style="border-top-right-radius: 30px;border-top-left-radius: 30px;">

            <div class="card-body" style="text-align:center">
                <h3 class="card-title" style="text-align:center">Мастер и Маргарита</h3>
                <p class="card-text" style="text-align:center">«Мастер и Маргарита» — подлинный шедевр искусства театра двадцать первого века.</p>
                <div class="card-body">
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="margin:2px">
                        <button type="button" style="background: #1a1b28; color: white;" class="btn btn-light">16 декабря, 18:30</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="margin:2px">
                        <button type="button" style="background: #1a1b28; color: white;" class="btn btn-light">16 декабря, 21:10</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-4" >
        <div class="card shadow" style="border-radius: 30px;">
            <img src="https://russianconcert.ru/wp-content/uploads/2015/05/uiainter520x200.jpg"
                 class="card-img-top" style="border-top-right-radius: 30px;border-top-left-radius: 30px;">

            <div class="card-body">
                <h3 class="card-title" style="text-align:center">Юнона и Авось</h3>
                <p class="card-text" style="text-align:center">
                    Рок-опера в авторской версии Алексея Рыбникова
                </p>
                <div class="card-body" style="text-align:center">
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="margin:2px">
                        <button type="button" style="background: #1a1b28; color: white;" class="btn btn-light">12 декабря, 10:10</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="margin:2px">
                        <button type="button" style="background: #1a1b28; color: white;" class="btn btn-light">12 декабря, 10:10</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="margin:2px">
                        <button type="button" style="background: #1a1b28; color: white;" class="btn btn-light">12 декабря, 10:10</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card shadow" style="border-radius: 30px;">
            <img src="https://sun9-40.userapi.com/impg/2FGe-wzuYt4mIR3lwun4LCGBGHUsOc_pPiDjCw/jPIMY-QXEC4.jpg?size=1260x500&quality=96&proxy=1&sign=3dfce2e4767fc1bb81dd61ed90b31778&type=album"
                 class="card-img-top" style="border-top-right-radius: 30px;border-top-left-radius: 30px;">

            <div class="card-body">
                <h3 class="card-title" style="text-align:center">Искуситель</h3>
                <p class="card-text" style="text-align:center">Трагикомедия с Ароновой и Спиваковским</p>

                <div class="card-body" style="text-align:center">
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="margin:2px">
                        <button type="button" style="background: #1a1b28; color: white;" class="btn btn-light">12 декабря, 10:10</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="margin:2px">
                        <button type="button" style="background: #1a1b28; color: white;" class="btn btn-light">12 декабря, 10:10</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="margin:2px">
                        <button type="button" style="background: #1a1b28; color: white;" class="btn btn-light">12 декабря, 10:10</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>















<script>
    $(document).ready(function () {
        flatpickr('.calendars', {
            enableTime: true,
            dateFormat: "d.m.Y H:i:S",
            "locale": "ru"
        });
    });
</script>