@using Theater_ticket_booking.Extensions

<script>
    function LoadList() {
        $("#listPartial").html();

        $.ajax({
            url: '@Url.Action("EventView", "Event")',
            type: 'GET',
            data: { },
            success: function(result) {
                $("#listPartial").html(result);
            },
            complete: function () {
            }
        });
    }
    $(document).ready(function() {
        LoadList();
    });
</script>

<div class="card shadow mb-4" style="border-radius: 30px;">
    <div class="card-body">
        <div style="text-align:center">

            <span class="font-weight dates">
                Выбор даты:
            </span>

            <input class="calendars" type="text" id="date" placeholder="Пожалуйста, выберите дату"
                   value="@(DateTime.UtcNow.AddDays(-30).AddHours(4).DateTimeToString("dd.MM.yyyy HH:mm:ss"))" onchange="WeatherUpdate()" data-input>
        </div>
    </div>
</div>

<div id="listPartial" class="listPartial"></div>