<!DOCTYPE html>
<head>
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/node_modules/flatpickr/dist/flatpickr.min.css">
    <script src="~/node_modules/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/node_modules/flatpickr/dist/l10n/ru.js"></script>

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    <link href="~/node_modules/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />
    <script src="~/node_modules/bootstrap-select/dist/js/bootstrap-select.js"></script>
</head>

<div class="sidebar-container">
    <div class="sidebar-logo"> Театр </div>

    <ul class="sidebar-navigation">

        <li>
            <a href="/Event">
                <i class="fa fa-calendar" aria-hidden="true"></i> Афиша
            </a>
        </li>

        <li>
            <a href="/Order">
                <i class="fa fa-ticket" aria-hidden="true"></i> Мои заказы
            </a>
        </li>

        <li>
            <a href="/Settings">
                <i class="fa fa-cog" aria-hidden="true"></i> Настройки
            </a>
        </li>

        <li>
            <a href="#" class="my-2 menu-item" onclick="LogOut()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Выйти
            </a>
        </li>

    </ul>

</div>

<div class="content-container">

    <div class="container-fluid">

        <div id="res"></div>
        @RenderBody()

    </div>

    <partial name="_ModalPartial" />
    @RenderSection("Scripts", required: false)
</div>